.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-primary);
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    border: none;
    max-width: 100%;
    cursor: pointer;
    gap: 0.5rem;
    font-family: inherit;
}

.button:hover {
    background-color: var(--hover-bg-color);
}

.button:disabled,
.button[disabled] {
    cursor: unset;
    background-color: var(--neutral-bg-color);
}

.button-icon {
    color: var(--text-color);
}

.button-text {
    font-size: 0.8rem;
    color: var(--color-white);
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 481px) and (max-width: 768px) {
    .button {
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
    }
    .button:hover {
        background-color: var(--hover-bg-color);
    }
    .button-text {
        font-size: 0.7rem;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .button {
        padding: 8px 10px 8px 10px;
        border-radius: 10px;
    }
    .button:hover {
        background-color: var(--hover-bg-color);
    }
    .button-text {
        font-size: 0.6rem;
    }
}
