.action-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-primary);
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    border: none;
    max-width: 100%;
}

.action-button:hover {
    background-color: var(--hover-bg-color);
}

.action-button-icon {
    color: var(--text-color);
}

.action-button-text {
    font-size: 0.8rem;
    color: var(--text-color);
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 481px) and (max-width: 767px) {
    .action-button {
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
    }

    .action-button:hover {
        background-color: var(--hover-bg-color);
    }

    .action-button-text {
        font-size: 0.7rem;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .action-button {
        padding: 8px 10px 8px 10px;
        border-radius: 10px;
    }

    .action-button:hover {
        background-color: var(--hover-bg-color);
    }

    .action-button-text {
        font-size: 0.6rem;
    }
}
