:root {
    --footer-height: 3rem;
}
.footer {
    display: flex;
    align-items: center;
    background-color: var(--footer-bg-color);
    width: 100%;
    box-sizing: border-box;
    height: var(--footer-height);
}

.footer-brand,
.footer-bug {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: var(--body-bg-color);
}

.footer-brand {
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: none;
}

.footer-brand a {
    font-weight: bolder;
    color: var(--body-bg-color);
    text-decoration: none;
}

.footer-bug {
    font-size: 0.75rem;
    font-weight: bold;
    text-decoration: underline;
}

.footer-bug a {
    color: var(--body-bg-color);
    text-decoration: none;
}

.footer-brand a:hover,
.footer-bug a:hover {
    color: var(--color-primary);
}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        padding: 5px;
    }

    .footer-brand a {
        font-size: 0.75rem;
    }

    .footer-bug a {
        font-size: 0.625rem;
    }

    .footer-brand,
    .footer-bug {
        text-align: center;
    }
}
