.footer {
    display: flex;
    align-items: center;
    background-color: var(--footercolor);
    width: 100vw;
    height: 80px;
}

.footer-brand,.footer-bug {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: var(--body);
}

.footer-brand{
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.footer-brand a {
    font-weight: bolder;
    font-size: 1rem;
    color: var(--body);
    text-decoration: none;
}

.footer-bug {
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: underline;
}

.footer-bug a {
    font-size: 1rem;
    color: var(--body);
    text-decoration: none;
}

.footer-brand p {
    margin-right: 2px;
}

.footer-bug p {
    margin-left: 10px;
}

.footer-brand .fa-icon {
    font-size: 0.7em;
    margin-top: -1rem;
}

.footer-bug .fa-icon {
    font-size: 1em;
}

.footer-brand a:hover,
.footer-brand .fa-icon:hover,
.footer-bug a:hover {
    color: var(--bkgcolor);
}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        padding: 5px;
        align-items: center;
        width: 100%;
    }

    .footer-brand a {
        font-size: 0.75rem;
    }

    .footer-bug a {
        font-size: 0.625rem;
    }

    .footer-brand,.footer-bug {
        text-align: center;
    }

    .footer-brand .fa-icon,
    .footer-bug .fa-icon {
        margin-top: 0;
    }

    .footer-brand .fa-icon {
        font-size: 0.6em;
        margin-top: -10px;
    }
}
