a {
    text-decoration: none;
}

@media (min-width: 968px) {
    .admin-box {
        border: none;
        border-radius: 10px;
        margin: 0;
        background-color: var(--card-bg-color);
        width: 29vw;
        height: 13vw;
    }

    .admin-header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: var(--text-color);
        background-color: var(--bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2vw 0 2vw;
        margin: 0;
    }

    .admin-header-left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .admin-header h3 {
        margin: 0;
        margin-left: 1vw;
        font-size: 1.1vw;
        letter-spacing: 0.05vw;
    }

    .admin-header-left img {
        width: 1vw;
        height: 1vw;
    }

    .admin-header-right {
        font-weight: 700;
        font-size: 1vw;
    }

    .admin-content p {
        padding: 0.8vw 2vw 0.3vw 2vw;
        font-size: 0.65vw;
        font-weight: 520;
    }

    .admin-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .admin-footer-left p {
        font-weight: 700;
        padding-left: 2vw;
        font-size: 0.7vw;
    }

    .admin-footer-right {
        display: flex;
        padding-right: 2vw;
        justify-content: center;
        align-items: center;
    }

    .admin-footer-right img {
        padding-left: 0.2vw;
        width: 0.5vw;
        height: 0.5vw;
    }

    .customButtons {
        padding-left: 0.6vw;
    }

    .customButtons .button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.75vw;
        padding: 0.5vw;
        padding-right: 1vw;
        padding-left: 1vw;
        border: 0;
    }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 967px) {
    .admin-box {
        border: none;
        border-radius: 10px;
        margin: 0;
        background-color: var(--card-bg-color);
        width: 68vw;
        height: 23vw;
    }

    .admin-header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: var(--text-color);
        background-color: var(--bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3vw 0 3vw;
        margin: 0;
    }

    .admin-header-left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .admin-header h3 {
        margin: 0;
        margin-left: 1vw;
        font-size: 2vw;
        letter-spacing: 0.05vw;
    }

    .admin-header-left img {
        width: 2vw;
        height: 2vw;
        padding-bottom: 0.2vw;
    }

    .admin-header-right {
        font-weight: 700;
        font-size: 1.6vw;
    }

    .admin-content p {
        font-weight: 510;
        padding: 1.2vw 3vw 1vw 3vw;
        font-size: 1.4vw;
    }

    .admin-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .admin-footer-left p {
        font-weight: 600;
        padding-left: 3vw;
        font-size: 1.5vw;
    }

    .admin-footer-right {
        display: flex;
        padding-right: 3vw;
        justify-content: center;
        align-items: center;
    }

    .admin-footer-right img {
        padding-left: 0.4vw;
        width: 1.4vw;
        height: 1.4vw;
    }

    .customButtons {
        padding-left: 1.5vw;
    }

    .customButtons .button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6vw;
        padding: 0.7vw;
        padding-right: 2vw;
        padding-left: 2vw;
        border: 0;
    }
}

/* Smartphones */
@media (min-width: 320px) and (max-width: 480px) {
    .admin-box {
        border: none;
        border-radius: 5px;
        margin: 0;
        background-color: var(--card-bg-color);
        width: 75vw;
        height: 31vw;
    }

    .admin-header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: var(--text-color);
        background-color: var(--bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4vw 0 4vw;
        margin: 0;
    }

    .admin-header-left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .admin-header h3 {
        margin: 0;
        margin-left: 1vw;
        font-size: 2.5vw;
        letter-spacing: 0.05vw;
    }

    .admin-header-left img {
        width: 3vw;
        height: 3vw;
        padding-bottom: 0.3vw;
    }

    .admin-header-right {
        font-weight: 700;
        font-size: 2.2vw;
    }

    .admin-content p {
        font-weight: 520;
        padding: 2vw 4vw 1vw 4vw;
        font-size: 1.6vw;
    }

    .admin-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .admin-footer-left p {
        font-weight: 600;
        padding-left: 4vw;
        font-size: 1.9vw;
    }

    .admin-footer-right {
        display: flex;
        padding-right: 4vw;
        justify-content: center;
        align-items: center;
    }

    .admin-footer-right img {
        padding-left: 0.2vw;
        width: 2vw;
        height: 2vw;
    }

    .customButtons {
        padding-left: 1.7vw;
    }

    .customButtons .button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8vw;
        padding: 1vw;
        padding-right: 3vw;
        padding-left: 3vw;
        border: 0;
    }
}
