.report-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    color: var(--body);
    background-color: var(--ubody);
    width: 40vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.report-wrapper p {
    align-self: flex-start;
    margin-left: 3vw;
    font-size: 20px;
    margin-bottom: 2vh;
}

.report-wrapper-title {
    margin-bottom: 5vh;
    font-weight: bolder;
    text-align: center;
    width: 100%;
}
.report-wrapper-title p {
    font-size: 45px;
    font-weight: bolder;
    margin: auto;
}

.report-textbox-container textarea {
    width: 35vw;
    height: 15vh;
    margin: auto;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 5vh;
}
.report-hide-initial-msg{
    display: none;
}

.report-upload-file span {
    margin-left: 5px;
}

.report-image-container {
    margin: 0;
    background-color: var(--body);
    color: var(--ubody);
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10vh;
    width: 30vw;
}
.report-buttons {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.report-button1 .link {
    background-color: var(--body);
    margin-bottom: 2vh;
    padding: 20px;
    width: 40vw;
    font-size: 16px;
}

.report-button1 .link:hover{
    background-color: var(--bkgcolor);
}

.report-button2 .link {
    background-color: var(--neutru);
    padding: 20px;
    width: 30vw;
    margin-left: 5vw;
    font-size: 16px;
}

.report-button2 .link:hover{
    background-color: var(--bkgcolor);
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
    .report-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        color: var(--body);
        background-color: var(--ubody);
        width: 50vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }

    .report-wrapper-title p {
        font-size: 40px;
        font-weight: bolder;
        margin: auto;
    }

    .report-textbox-container textarea {
        width: 40vw;
        height: 15vh;
        margin: auto;
        padding: 5px;
        border-radius: 15px;
        margin-bottom: 5vh;
    }

    .report-image-container {
        margin: auto;
        background-color: var(--body);
        color: var(--ubody);
        border: 2px solid;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 5vh;
        width: 40vw;
        margin-top: -1vh;
    }

    .report-buttons {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .report-button1 .link {
        background-color: var(--body);
        margin-bottom: 2vh;
        padding: 20px;
        width: 40vw;
        font-size: 16px;
    }

    .report-button1 .link:hover{
        background-color: var(--bkgcolor);
    }

    .report-button2 .link {
        background-color: var(--neutru);
        padding: 20px;
        width: 30vw;
        margin-left: 5vw;
        font-size: 16px;
    }

    .report-button2 .link:hover{
        background-color: var(--bkgcolor);
    }
}

@media screen and (max-width: 600px) {
    .report-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        color: var(--body);
        background-color: var(--ubody);
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }

    .report-wrapper-title p {
        font-size: 32px;
        font-weight: bolder;
        margin: auto;
    }

    .report-textbox-container textarea {
        width: 90vw;
        height: 15vh;
        margin: auto;
        padding: 5px;
        border-radius: 15px;
        margin-bottom: 5vh;
    }

    .report-image-container {
        margin: 0;
        background-color: var(--body);
        color: var(--ubody);
        border: 2px solid;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10vh;
        width: 75vw;
    }
    .report-buttons {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .report-button1 .link {
        background-color: var(--body);
        margin-bottom: 2vh;
        padding: 20px;
        width: 40vw;
        font-size: 16px;
    }

    .report-button1 .link:hover{
        background-color: var(--bkgcolor);
    }

    .report-button2 .link {
        background-color: var(--neutru);
        padding: 20px;
        width: 30vw;
        margin-left: 5vw;
        font-size: 16px;
    }

    .report-button2 .link:hover{
        background-color: var(--bkgcolor);
    }
}
