.report {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: var(--text-color-inverted);
    background-color: var(--body-bg-color-inverted);
    width: 400px;
}

.report,
.report * {
    box-sizing: border-box;
}

.report-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;
    gap: 60px;
}

.report-wrapper-title {
    font-size: 2.25rem;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    margin: 0;
}

.report-input-wrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    p {
        margin: 0;
    }

    input[type='checkbox'] {
        margin-right: 12px;
    }
}

.report-buttons {
    display: flex;
    gap: 30px;
    * {
        color: var(--color-white);
    }
}

.report-button-cancel {
    background-color: var(--neutral-bg-color);
}

@media screen and (max-width: 768px) {
    .report {
        width: 300px;
    }
}
