.recipe {
    display: flex;
    cursor: pointer;
    align-content: center;
    font-size: 14px;
    gap: 1rem;
}

.recipe:hover {
    background: var(--hover);
    border-radius: 15px;
}

.recipe-image {
    width: 4rem;
    height: 4rem;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 20px;
}

.recipe-description {
    place-content: center;
    background: var(--compreteta);
    border-radius: 20px;
    padding: 0 1rem;
    line-height: 1.6;
}

.recipe-description p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--recipetext);
}

.recipe-header {
    display: flex;
    gap: 1rem;
}

.recipe-title-and-author {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.recipe-title {
    background: var(--caseta);
    border-radius: 10px;
    padding: 0.2rem 2.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--recipetext);
}

.recipe-author {
    font-weight: 300;
    color: var(--txtcolor);
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .recipe {
        font-size: 12px;
        gap: 0.5rem;
    }

    .recipe-description {
        text-align: center;
        border-radius: 12px;
    }

    .recipe-image {
        width: 3rem;
        height: 3rem;
        border-radius: 12px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .recipe {
        font-size: 10px;
        gap: 0.5rem;
    }

    .recipe-description {
        text-align: center;
        border-radius: 10px;
    }

    .recipe-image {
        width: 3rem;
        height: 3rem;
        border-radius: 10px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .recipe {
        flex-direction: column;
        font-size: 8px;
        gap: 0.5rem;
    }

    .recipe-description {
        height: 2rem;
        text-align: center;
        border-radius: 10px;
    }

    .recipe-image {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 10px;
    }
}
