.report-bug-wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    color: var(--body-bg-color);
    background-color: var(--report-bg-color);
    width: 400px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.report-bug-wrapper p {
    align-self: flex-start;
    margin-left: 30px;
    font-size: 1rem;
    margin-bottom: 20px;
}

.report-bug-wrapper-title {
    margin-top: 5rem;
    margin-bottom: 60px;
    font-weight: bolder;
    text-align: center;
    width: 100%;
}
.report-bug-wrapper-title p {
    font-size: 2.25rem;
    font-weight: bolder;
    margin: auto;
}

.report-bug-textbox-container textarea {
    width: 350px;
    height: 100px;
    margin: auto;
    padding: 5px;
    border-radius: 1rem;
    margin-bottom: 30px;
}

.report-bug-hide-initial-msg {
    display: none;
}

.report-bug-upload-file span {
    margin-left: 5px;
}

.report-bug-image-container {
    margin: 0;
    background-color: var(--body-bg-color);
    color: var(--report-bg-color);
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    width: 350px;
}

.report-bug-buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-self: center;
}

.report-bug-send-button .action-button {
    background-color: var(--body-bg-color);
    margin-bottom: 20px;
    padding: 15px;
    width: 7rem;
}

.report-bug-send-button .action-button-text {
    font-size: 0.7rem;
    text-align: center;
    margin: auto;
}

.report-bug-give-up-button .action-button {
    background-color: var(--cancel-bg-color);
    padding: 15px;
    width: 7rem;
    margin-left: 50px;
    border: none;
}

.report-bug-give-up-button .action-button-text {
    font-size: 0.7rem;
    text-align: center;
    margin: auto;
}

.report-bug-send-button .action-button:hover {
    background-color: var(--bg-color);
}

.report-bug-give-up-button .action-button:hover {
    background-color: var(--bg-color);
}

@media screen and (max-width: 600px) and (min-width: 481px) {
    .report-bug-wrapper-title p {
        font-size: 2rem;
    }

    .report-bug-wrapper {
        width: 100vw;
    }

    .report-bug-textbox-container textarea {
        width: 450px;
    }

    .report-bug-image-container {
        width: 450px;
    }
}
@media screen and (max-width: 480px) {
    .report-bug-wrapper {
        width: 100vw;
    }

    .report-bug-wrapper-title p {
        font-size: 1.75rem;
    }

    .report-bug-textbox-container textarea {
        width: 300px;
    }

    .report-bug-image-container {
        width: 300px;
    }
}
