.report-bug-wrapper,
.report-bug-wrapper * {
    box-sizing: border-box;
}

.report-bug-wrapper {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    color: var(--text-color-inverted);
    background-color: var(--body-bg-color-inverted);
    width: 400px;
    height: 100vh;
    justify-content: center;
    align-items: center;

    padding: 30px;
    gap: 30px;
}

.report-bug-wrapper-title {
    font-size: 2.25rem;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    margin: 0;
}

.report-bug-input-wrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    p {
        margin: 0;
    }

    textarea {
        color: var(--input-color-inverted);
        background-color: var(--input-bg-color-inverted);
        border: 0;
        border-radius: 10px;
        min-height: 100px;
        padding: 10px;
    }
}

.report-bug-upload-input {
    color: var(--input-color-inverted);
    background-color: var(--input-bg-color-inverted);
    cursor: pointer;
    margin: 0;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.report-bug-upload-input span {
    margin-left: 10px;
}

.report-bug-buttons {
    display: flex;
    gap: 30px;
    * {
        color: white;
    }
}

.report-bug-button-cancel {
    background-color: var(--neutral-bg-color);
}

@media screen and (max-width: 600px) {
    .report-bug-wrapper {
        width: 100vw;
    }
}

@media screen and (max-width: 600px) and (min-width: 481px) {
    .report-bug-wrapper-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .report-bug-wrapper-title {
        font-size: 1.75rem;
    }
}
