.filters-menu-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 5%;
    width: 210px;
}

.filters-menu-container {
    position: center;
    width: 100%;
    font-size: 0.5rem;
    margin-bottom: 10px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .filters-menu-wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    .filters-menu-container {
        position: center;
        margin-bottom: 10px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .filters-menu-wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 5%;
    }
    .filters-menu-container {
        position: center;
        margin-bottom: 10px;
        width: 100%;
    }
}
