.page {
    color: var(--text-color);
    font: inherit;
    height: 100%;
    display: flex;
}

.page-separator {
    width: 1px;
    background-color: var(--text-color);
    margin: 4rem 0;
}

.bg-image-container {
    padding-left: 2rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg-image {
    height: 80%;
    width: 100%;
    object-fit: cover;
}

.form-container {
    min-width: calc(40% - 4rem);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0;
}

.form-row:first-child {
    margin-top: 0;
}

.form-row:last-child {
    margin-bottom: 0;
}

.form-item {
    position: relative;
    margin: 0 0.5rem;
    flex: 1;
}

.form-item--full {
    width: 100%;
}

.form-item:first-child {
    margin-left: 0;
}

.form-item:last-child {
    margin-right: 0;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-color);
}

.form-input {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--searchbar-bg-color);
    border: none;
}

.form-icon {
    position: absolute;
    bottom: 10px;
    right: 0.5rem;
    height: 1rem;
    aspect-ratio: 1;
    cursor: pointer;
}

.form-submit {
    font-weight: 500;
    font-size: 1rem;

    border: none;
    border-radius: 5px;

    color: var(--text-color);
    background-color: var(--bg-color);

    padding: 10px;
    margin: 0.5rem 0;
}

.form-link {
    color: var(--bg-color);
}

.form-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--bg-color);
    text-underline-offset: 2px;
}

.form-others {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    gap: 0.3rem;
}

.form-others span {
    margin: 0;
}

@media screen and (max-width: 820px) {
    .form-row {
        flex-direction: column;
    }

    .form-others {
        flex-wrap: wrap;
    }

    .form-item {
        margin: 0;
    }

    .form-item:first-child {
        margin-bottom: 0.5rem;
    }

    .form-item:last-child {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 500px) {
    .page-separator,
    .bg-image-container {
        display: none;
    }

    .form-container {
        width: 100%;
    }
}
