.feed {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 5% 0; */
    width: 100%;
}

.feed > * {
    margin-bottom: 20px;
}

.feed .recipe:last-child {
    margin-bottom: 0;
}
/* .feed-button {
    border-radius: 20px;
    font-size: 1.2rem;
    background-color: var(--compreteta);
    color: var(--text);
    cursor: pointer;
}

.feed-button:hover {
    background-color: var(--caseta);
} */
