.tag-selector {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.tag-selector-drop-down {
    height: 2rem;
    color: var(--text-color-dimmed);
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tag-selector-drop-down-search {
    position: relative;
    z-index: 3;
    height: 1.8rem;
    display: flex;
    background-color: var(--text-color-dimmed);
    color: var(--bg-color-dimmed);
    border-radius: 10px;
}

.tag-selector-drop-down-search-input {
    border: none;
    box-sizing: border-box;
    height: 1.8rem;
    font-size: inherit;
    background-color: var(--text-color-dimmed);
    color: var(--bg-color-dimmed);
    border-radius: 10px;
    padding: 0.3rem;
    outline: none;
}

.tag-selector-drop-down-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.tag-selector-drop-down-suggestions {
    display: flex;
    background-color: var(--bg-color-dimmed);
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    padding-top: 1rem;
    margin-top: -1rem;
    position: relative;
    z-index: 2;
}

.tag-selector-drop-down-suggestion-button {
    display: flex;
    align-items: center;
    color: var(--txtcolordimmed);
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.3rem;
    position: relative;
    z-index: 2;
}

.tag-selector-drop-down-suggestion-button:hover {
    background-color: color-mix(in srgb, var(--bg-color-dimmed), #808080 10%);
}
.tag-selector-drop-down-suggestion-button:last-child:hover {
    background-color: color-mix(in srgb, var(--bg-color-dimmed), #808080 10%);
    border-radius: 0 0 10px 10px;
}
.tag-selector-tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.2rem;
    z-index: 1;
    position: relative;
}
