.recipe-view {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0;
    width: 60%;
}

.recipe-view > * {
    margin-bottom: 20px;
}

.recipe-view .recipe:last-child {
    margin-bottom: 0;
}
.recipe-view button {
    border-radius: 20px;
    font-size: 1.2rem;
    background-color: var(--compreteta);
    color: var(--text);
    cursor: pointer;
}

.recipe-view button:hover {
    background-color: var(--caseta);
}
