.rating-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.198);
    padding: 20px;
    border-radius: 10px;
}

.rating-card-main-container {
    display: flex;
    gap: 20px;
}

.rating-card-image {
    flex: 0 0 100px;

    img {
        object-fit: cover;
        aspect-ratio: 1;
        background-size: cover;
        background-position: center;
        width: 100%;
        border-radius: 9999px;
    }
}

.rating-card-data {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.rating-card-rating {
    color: var(--stars-color);
}

.rating-card-user {
    /* font-size: 1.2rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

h4.rating-card-display-name {
    margin: 0;
}

.rating-card-username {
    font-weight: bolder;
    /* font-size: 0.95rem; */
    padding: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 10px;
    background-color: var(--card-bg-color);
    color: var(--color-primary);
}

.rating-card-buttons {
    display: flex;
    gap: 1rem;
}

.rating-card-button {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    background: transparent;
    font-family: inherit;
    border: none;
    cursor: pointer;
    color: var(--color-primary);
    padding: 0;
}

.rating-card-replies {
    margin-left: 30px;

    font-size: 0.8rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .rating-card-image {
        flex: 0 0 64px;
    }
}

.rating-card-description,
.rating-card-form {
    p {
        margin: 0;
    }
    margin: 1rem 0;

    :last-child() {
        margin-bottom: 0;
    }
}

.rating-card-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rating-card-form {
    width: 100%;
}

.rating-card-form-stars {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* align-items: center; */
}
/* 
.rating-card-textarea textarea {
    border-radius: 10px;
    width: 100%;
    font-size: inherit;
} */

.rating-card-content {
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .rating-card-image {
        flex: 0 0 64px;
    }
}
