<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification Requested</title>
</head>
<body>
    <h2>Verify your account</h2>
    <p>
        Hi, <b>{email_address}</b>! <br><br>

        Thank you for joining the <b>Cooking App</b> community. We want to make sure it's really you. <br>
        Please follow the given link to complete the verification process. <br>
        If you don't want to create an account, you can ignore this message. <br><br>

        Cooking App will never email you and ask you to disclose or verify your password, <br>
        credit card, or banking account number.
    </p>
    <h4><i>{verification_link}</i></h4>
</body>
</html>