<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Change Requested</title>
</head>
<body>
    <h2>Verify account change</h2>
    <p>
        Hi, <b>{email_address}</b>! <br><br>

        We received an account change request on the following resource: <b>{change_resource}</b>. <br>
        We want to make sure it's really you. Please follow the given link to verify the account change. <br>
        If you didn't initiate this request, you may need to secure your account. <br><br>

        Cooking App will never email you and ask you to disclose or verify your password, <br>
        credit card, or banking account number.
    </p>
    <h4><i>{verification_link}</i></h4>
</body>
</html>