.pop-up-chat-container {
    position: fixed;
    bottom: 8rem;
    right: 1rem;
    z-index: 2;
}
.pop-up-chat-bot-logo {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.pop-up-chat-custom-modal-overlay {
    background-color: var(--border);
}

.pop-up-chat-modal-content {
    width: 25rem;
    height: 34rem;
    position: fixed;
    bottom: 9rem;
    right: 2rem;
    border: 1px solid var(--border);
    border-radius: 20px;
    background-color: var(--bkgcolor);
    z-index: 1;
}

.pop-up-chat-title {
    padding-left: 2rem;
    color: var(--txtcolor);
}
@media (min-width: 488px) and (max-width: 767px) {
    .pop-up-chat-modal-content {
        width: 25rem;
        height: 30rem;
        position: fixed;
        bottom: 9rem;
        right: 2rem;
        border: 1px solid var(--border);
        border-radius: 20px;
        /*padding: 1.5rem;*/
        background-color: var(--bkgcolor);
        z-index: 1;
    }
    .pop-up-chat-bot-logo {
        width: 3.5rem;
        height: 3.5rem;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }
}

@media (min-width: 320px) and (max-width: 487px) {
    .pop-up-chat-modal-content {
        width: 80%;
        height: 38rem;
        position: fixed;
        bottom: 9rem;
        right: 2rem;
        border: 1px solid var(--border);
        border-radius: 20px;
        background-color: var(--bkgcolor);
        z-index: 1;
    }

    .pop-up-chat-bot-logo {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }
}
