.user-profile {
  width: 400px;
  height: fit-content;
  margin: 20px;
  border-radius: 4px;
  padding-bottom: 50px;
  padding-top: 150px;
}
.user-profile-line {
  font-size: 12px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.user-profile-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
}

.user-profile-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.user-profile-button .user-profile-button-arrow {
  font-size: 16px;
}

.user-profile-down button {
  font-size: 24px;
  color: var(--txtcolor);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.user-profile-down img {
  height: 215px;
  max-width: fit-content;
  border-radius: 200px;
  padding: 5px;
}

.user-profile-name {
  color: var(--profname);
}

.user-profile-description {
  color: var(--txtcolor);
  font-size: 18px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0px;
}

.user-profile-description a {
  color: var(--txtcolor);
}

.user-profile-description a:hover {
  color: var(--bkgcolor);
}
.user-profile-description dot {
  margin-top: 6px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
}

.user-profile-report a {
  font-size: 14px;
  position: relative;
  color: var(--txtcolor);
}

.user-profile-report a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: -3px;
  width: 110%;
  height: 2px;
  border-radius: 5px;
  background: var(--txtcolor);
}

.user-profile-report a:hover::after {
  background: var(--bkgcolor);
}

.user-profile-report a:hover {
  color: var(--bkgcolor);
}

@media only screen and (max-width: 767px) and (min-width: 481px) {
  .user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 20px;
    border-radius: 4px;
    padding-bottom: 50px;
    padding-top: 150px;
  }

  .user-profile-down img {
    height: 150px;
    border-radius: 200px;
  }

  .user-profile-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }

  .user-profile-button .user-profile-button-arrow {
    font-size: 12px;
  }

  .user-profile-down button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .user-profile-name {
    font-size: 14px;
    color: var(--profname);
  }

  .user-profile-line {
    font-size: 10px;
  }

  .user-profile-description {
    font-size: 16px;
    padding: 10px 0px;
  }

  .user-profile-description dot {
    margin-top: 6px;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
  }

  .user-profile-report a {
    font-size: 10px;
  }

  .user-profile-report a::after {
    width: 115%;
  }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: none;
    border-radius: 4px;
    padding-bottom: 5px;
    padding-top: 40px;
    padding-left: 20px;
  }

  .user-profile-down {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    margin-top: 0px;
  }

  .user-profile-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .user-profile-button .user-profile-button-arrow {
    font-size: 10px;
  }

  .user-profile-down button {
    font-size: 16px;
  }

  .user-profile-down img {
    align-self: center;
    margin-bottom: 8px;
    height: 150px;
  }

  .user-profile-name {
    color: var(--profname);
    align-self: center;
    margin-top: -5px;
    font-size: 16px;
  }

  .user-profile-line {
    font-size: 8px;
  }

  .user-profile-description {
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 0px;
  }

  .user-profile-description dot {
    margin-top: 6px;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
  }

  .user-profile-report {
    align-self: center;
    justify-self: flex-end;
  }
  .user-profile-report a {
    font-size: 10px;
  }

  .user-profile-report a::after {
    width: 115%;
  }
}
