.user-profile {
    width: fit-content;
    margin: 20px;
    border-radius: 4px;
    padding-bottom: 50px;
    padding-top: 150px;
}
.user-profile-line {
    font-size: 0.7rem;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.user-profile-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-profile-follow-button .action-button {
    padding: 10px 20px;
}

.user-profile-follow-button .action-button-icon {
    display: none;
}

.user-profile-follow-button .action-button {
    cursor: pointer;
}
.user-profile-follow-button .action-button-text {
    margin: 0;
}

.user-profile-first-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.user-profile-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--txtcolor);
    font-size: 1.5rem;
}

.user-profile-buttons {
    justify-content: center;
    /* width: 100%; */
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    gap: 10px;
}

.user-profile-buttons .action-button {
    /* justify-content: center; */
    font-size: 1.4rem;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.user-profile-buttons .action-button-text {
    font-size: 1.2rem;
    text-align: center;
}

.user-profile-buttons .action-button:hover {
    background-color: var(--transparentbutton);
    .action-button-text {
        color: var(--text);
        font-weight: 700;
    }
    .action-button-icon {
        color: var(--text);
    }
}

.user-profile-down img {
    height: 215px;
    max-width: fit-content;
    border-radius: 200px;
    padding: 5px;
}

.user-profile-description {
    color: var(--txtcolor);
    font-size: 1.125rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0px;
}

.user-profile-description a {
    color: var(--txtcolor);
}

.user-profile-description a:hover {
    color: var(--bkgcolor);
}

.user-profile-report .action-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.user-profile-report .action-button-text {
    font-size: 1rem;
    /* position: relative; */
    text-decoration: underline;
    color: var(--txtcolor);
}
.user-profile-report .action-button-text:hover {
    color: var(--bkgcolor);
}

.user-profile-report .action-button-icon {
    color: var(--txtcolor);
}
.user-profile-report .action-button-icon:hover {
    color: var(--bkgcolor);
}

@media only screen and (max-width: 767px) and (min-width: 481px) {
    .user-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;
        margin: 20px;
        border-radius: 4px;
        padding-bottom: 50px;
        padding-top: 150px;
    }

    .user-profile-down img {
        height: 150px;
        border-radius: 200px;
    }

    .user-profile-buttons {
        font-size: 0.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }

    .user-profile-name {
        font-size: 1rem;
        color: var(--txtcolor);
    }

    .user-profile-line {
        font-size: 0.625rem;
    }

    .user-profile-description {
        font-size: 0.8rem;
        padding: 10px 0px;
    }

    .user-profile-report .action-button-icon {
        height: 90%;
        width: 90%;
    }
    .user-profile-buttons .action-button-text {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .user-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;
        margin: none;
        border-radius: 4px;
        padding-bottom: 5px;
        padding-top: 40px;
        padding-left: 20px;
    }

    .user-profile-down {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: fit-content;
        margin-top: 0px;
    }

    .user-profile-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .user-profile-buttons .user-profile-buttons-arrow {
        font-size: 0.625rem;
    }

    .user-profile-down button {
        font-size: 1rem;
    }

    .user-profile-down img {
        align-self: center;
        margin-bottom: 8px;
        height: 150px;
    }

    .user-profile-name {
        color: var(--txtcolor);
        align-self: center;
        font-size: 1rem;
    }

    .user-profile-report .action-button-icon {
        height: 70%;
        width: 70%;
    }

    .user-profile-line {
        font-size: 0.5rem;
    }

    .user-profile-description {
        font-size: 0.7rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 0px;
    }

    .user-profile-report {
        align-self: center;
        justify-self: center;
    }

    .user-profile-buttons .action-button-text {
        font-size: 0.8rem;
    }
}
