.report-recipe-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    color: var(--body);
    background-color: var(--ubody);
    width: 400px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.report-recipe-wrapper-title {
    margin-top: 5rem;
    margin-bottom: 60px;
    font-weight: bolder;
    text-align: center;
    width: 100%;
}

.report-recipe-wrapper-title p {
    font-size: 2.25rem;
    font-weight: bolder;
    margin: auto;
}

.report-recipe-form .report-recipe-inputs {
    display: flex;
    align-items: center;
    padding: 10px;
}

.report-recipe-inputs label {
    margin-left: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-align: left;
}

.report-recipe-buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-self: center;
}

.report-recipe-give-up-button .action-button-icon,
.report-recipe-send-button .action-button-icon {
    display: none;
}

.report-recipe-send-button .action-button {
    background-color: var(--body);
    margin-bottom: 20px;
    padding: 15px;
    width: 7rem;
}

.report-recipe-send-button .action-button-text {
    font-size: 0.7rem;
    text-align: center;
    margin: auto;
}

.report-recipe-give-up-button .action-button {
    background-color: var(--neutru);
    padding: 15px;
    width: 7rem;
    margin-left: 50px;
    border: none;
}

.report-recipe-give-up-button .action-button-text {
    font-size: 0.7rem;
    text-align: center;
    margin: auto;
}

.report-recipe-send-button .action-button:hover {
    background-color: var(--bkgcolor);
}

.report-recipe-give-up-button .action-button:hover {
    background-color: var(--bkgcolor);
}

@media screen and (max-width: 600px) and (min-width: 481px) {
    .report-recipe-wrapper {
        width: 100vw;
    }

    .report-recipe-inputs label {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 480px) {
    .report-recipe-wrapper {
        width: 100vw;
    }

    .report-recipe-wrapper-title p {
        font-size: 1.75rem;
    }

    .report-recipe-inputs label {
        font-size: 1rem;
    }
}
