.report-recipe-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    color: var(--body);
    background-color: var(--ubody);
    width: 40vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.report-recipe-wrapper-title {
    margin-top: 8rem;
    margin-bottom: 50px;
    font-weight: bolder;
    text-align: center;
    width: 100%;
}

.report-recipe-wrapper-title p {
    font-size: 2.75rem;
    font-weight: bolder;
    margin: auto;
}

.report-recipe-form .report-recipe-inputs {
    display: flex;
    align-items: center;
    padding: 10px;
}

.report-recipe-inputs{
    margin-bottom: 1rem;
}

.report-recipe-inputs label {
    margin-left: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-align: left;
}

.report-recipe-buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-self: center;
}

.report-recipe-send-button .actionbutton {
    background-color: var(--body);
    margin-bottom: 20px;
    padding: 20px;
    width: 10vw;
    font-size: 1rem;
    align-items: center;
}

.report-recipe-send-button .actionbutton_icon{
    margin-bottom: -2px;
}

.report-recipe-give-up-button .actionbutton {
    background-color: var(--neutru);
    padding: 15px 10px 15px 10px;
    width: 10vw;
    margin-top: 5px;
    margin-left: 50px;
    font-size: 0.9rem;
    border:none;
}

.report-recipe-give-up-button .actionbutton_icon{
    margin-bottom: -2px;
}

.report-recipe-send-button .actionbutton:hover{
    background-color: var(--bkgcolor);
}

.report-recipe-give-up-button .actionbutton:hover{
    background-color: var(--bkgcolor);
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
    .report-recipe-wrapper {
        width: 50vw;
    }
    
    .report-recipe-wrapper-title p {
        font-size: 2rem;
    }

    .report-recipe-inputs label {
        font-size: 1.25rem;
    }

    .report-recipe-send-button .actionbutton_icon {
        display: none;
    }

    .report-recipe-send-button .actionbutton{
        width: 20vw;
    }

    .report-recipe-give-up-button .actionbutton{
        width: 20vw;
    }

    .report-recipe-give-up-button .actionbutton_icon {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .report-recipe-wrapper {
        width: 100vw;
    }

    .report-recipe-wrapper-title p {
        font-size: 2rem;
    }

    .report-recipe-inputs label {
        font-size: 1.25rem;
    }
 
    .report-recipe-send-button .actionbutton{
        width:30vw;
       
    }
    .report-recipe-give-up-button .actionbutton{
        width:30vw;
        font-size: 1rem;
    }

    .report-recipe-send-button .actionbutton_icon {
        display: none;
    }

    .report-recipe-give-up-button .actionbutton_icon {
        display: none;
    }
}
