:root {
    --nav-height: 4.938rem;
}
.nav {
    position: sticky;
    top: 0px;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    padding: 0 10rem;
    align-items: center;
    height: var(--nav-height);
    width: calc(100% - 20rem);
    background-color: var(--navbar);
    color: var(--navbarcolor1);
}

.nav-brand {
    display: flex;
    width: fit-content;
    align-items: center;
    margin-left: 0.5rem;
    text-decoration: none;
    margin-right: auto;
    color: var(--navbarcolor1);
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48.76px;
    text-align: left;
}

.nav-brand-span:nth-child(2) {
    color: var(--navbarcolor2);
}

.nav-brand:hover {
    cursor: pointer;
}

.nav-brand-img {
    width: 65px;
}

.nav-buttons {
    display: flex;
    justify-content: end;
}

.nav-button {
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    margin: 0px 0.8rem;
    padding: 0;
    cursor: pointer;
}

.nav-button:first-child {
    margin-left: 0;
}

.nav-button:last-child {
    margin-right: 0;
}

.nav-search {
    background-color: var(--searchbar);
    color: var(--border);
    width: 80%;
    max-width: 212px;
    padding: 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-right: 1rem;
}
.nav-search-input {
    color: var(--text--black);
    margin: 0px 0.5rem;
    border: none;
    width: 100%;
    outline: none;
    background-color: var(--text-white);
}
.nav-search-icon {
    cursor: pointer;
    color: var(--text--black);
}
.nav-search-sidebar {
    background-color: transparent;
    padding: 0.6rem 1rem;
    width: calc(100% - 2rem);
}
.nav-search-sidebar .nav-search-input {
    padding: 0;
    margin: 0;
    width: 90%;
    background-color: transparent;
}

.nav-dropdown {
    display: none;
    flex-direction: column;
}

.nav-dropdown-icon {
    display: none;
    color: inherit;
    align-items: center;
    font-size: inherit;
    border: none;
    background-color: transparent;
    margin: 0px 0.8rem;
    padding: 0;
    cursor: pointer;
}

.nav-dropdown {
    display: none;
    position: fixed;
    background-color: var(--navbar);
    top: var(--nav-height);
    left: calc(100% - 10rem);
    width: fit-content;
    padding: 0 1rem;
}

.nav-button-theme {
    display: none;
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    margin: 0px 0.8rem;
    padding: 0;
    cursor: pointer;
}

@media only screen and (max-width: 899px) {
    .nav-dropdown,
    .nav-buttons {
        display: none;
    }

    .nav-active {
        display: flex;
    }

    .nav-button {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin: 0;
    }
    .nav-dropdown-icon,
    .nav-button-theme {
        display: block;
    }

    .nav {
        padding: 0 1rem;
        width: calc(100% - 2rem);
    }
}

@media only screen and (max-width: 599px) {
    .nav-brand-span {
        display: none;
    }
}
