:root {
    --nav-height: 80px;
}

.nav {
    position: sticky;
    top: 0px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
    align-items: center;
    height: var(--nav-height);
    width: 100%;
    box-sizing: border-box;
    background-color: var(--navbar);
    color: var(--navbarcolor1);
}

.nav-brand {
    display: flex;
    width: fit-content;
    align-items: center;
    margin-left: 0.5rem;
    text-decoration: none;
    color: var(--navbarcolor1);
    font-size: 2rem;
    font-weight: 700;
    line-height: 48.76px;
    text-align: left;
    flex: 1;
}

.nav-brand-span:nth-child(2) {
    color: var(--navbarcolor2);
}

.nav-brand:hover {
    cursor: pointer;
}

.nav-brand-img {
    width: 60px;
}

.nav-buttons {
    display: flex;
    justify-content: end;
    flex: 1;
    gap: 1.6rem;
}

.nav-button {
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.nav-search {
    background-color: var(--searchbar);
    color: var(--border);
    padding: 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 30%;
    flex: 0 0 380px;
}

.nav-search-input {
    color: var(--text--black);
    margin: 0px 0.5rem;
    border: none;
    width: 100%;
    outline: none;
    background-color: var(--text-white);
}

.nav-search-icon {
    cursor: pointer;
    color: var(--text--black);
}

.nav-search-sidebar {
    background-color: transparent;
    padding: 0.6rem 1rem;
    width: 100%;
    box-sizing: border-box;
}
.nav-search-sidebar .nav-search-input {
    padding: 0;
    margin: 0;
    width: 90%;
    background-color: transparent;
}

.nav-dropdown-icon {
    display: none;
    color: inherit;
    align-items: center;
    font-size: inherit;
    border: none;
    background-color: transparent;
    margin: 0px 0.8rem;
    padding: 0;
    cursor: pointer;
}

.nav-buttons-hamburger-menu {
    display: none;
    justify-content: end;
    flex: 1;
}
.nav-dropdown {
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: var(--navbar);
    top: var(--nav-height);
    right: 0;
    width: fit-content;
    padding: 0 1rem;
}

.nav-button-theme {
    display: none;
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    margin: 0 0.8rem;
    margin-left: 1.2rem;
    padding: 0;
    cursor: pointer;
}

@media (min-width: 923px) and (max-width: 1199px) {
    .nav {
        padding: 0 1.5rem;
    }
    .nav-search {
        flex: 1;
    }
}

@media (min-width: 769px) and (max-width: 922px) {
    .nav {
        padding: 0 1rem;
    }

    .nav-brand-span {
        display: none;
    }

    .nav-search {
        flex-basis: 380px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .nav {
        padding: 0 0.5rem;
    }
    .nav-brand-span {
        display: none;
    }

    .nav-brand-img {
        width: 50px;
    }

    .nav-search {
        flex-basis: 200px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .nav {
        padding: 0 0.2rem;
    }
    .nav-brand-span {
        display: none;
    }

    .nav-brand-img {
        width: 50px;
    }

    .nav-search {
        flex-basis: 140px;
    }
}

/* query for hamburger menu */
@media (min-width: 320px) and (max-width: 922px) {
    .nav-dropdown,
    .nav-buttons {
        display: none;
    }
    .nav-buttons-hamburger-menu {
        display: flex;
    }
    .nav-dropdown-icon,
    .nav-button-theme {
        display: block;
    }

    .nav-active {
        display: flex;
    }

    .nav-button {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin: 0;
    }
}
