:root {
    font-family: "Montserrat";

    --max-content-width: 1000px;
    --nav-height: 80px;
    --footer-height: 60px;
}

body {
    margin: 0;
    background-color: var(--body);
    color: var(--txtcolor);
}
