.actionbutton {
    background-color: var(--bkgcolor);
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
}

.actionbutton:hover {
    background-color: var(--hoverbkgcolor);
}

.actionbutton_icon {
    color: var(--txtcolor);
}

.actionbutton_text {
    font-size: 0.75rem;
    color: var(--txtcolor);
    font-weight: bold;
}

@media (min-width: 481px) and (max-width: 767px) {
    .actionbutton {
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
    }
    .actionbutton:hover {
        background-color: var(--hoverbkgcolor);
    }
    .actionbutton_text {
        font-size: 0.625rem;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .actionbutton {
        padding: 8px 10px 8px 10px;
        border-radius: 10px;
    }
    .actionbutton:hover {
        background-color: var(--hoverbkgcolor);
    }
    .actionbutton_text {
        font-size: 0.5rem;
    }
}
