.action-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bkgcolor);
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    border: none;
}

.action-button:hover {
    background-color: var(--hoverbkgcolor);
}

.action-button-icon {
    color: var(--txtcolor);
}

.action-button-text {
    font-size: 0.8rem;
    color: var(--txtcolor);
    font-weight: bold;
}

@media (min-width: 481px) and (max-width: 767px) {
    .action-button {
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
    }
    .action-button:hover {
        background-color: var(--hoverbkgcolor);
    }
    .action-button-text {
        font-size: 0.7rem;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .action-button {
        padding: 8px 10px 8px 10px;
        border-radius: 10px;
    }
    .action-button:hover {
        background-color: var(--hoverbkgcolor);
    }
    .action-button-text {
        font-size: 0.6rem;
    }
}
