.link {
    background-color: var(--color-primary);
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    font-size: 0.8rem;
    color: var(--text-color);
    font-weight: bold;
}

.link:hover {
    background-color: var(--hover-bg-color);
}

@media (min-width: 481px) and (max-width: 767px) {
    .link {
        font-size: 0.7rem;
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
    }
    .link:hover {
        background-color: var(--hover-bg-color);
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .link {
        font-size: 0.6rem;
        padding: 8px 10px 8px 10px;
        border-radius: 10px;
    }
    .link:hover {
        background-color: var(--hover-bg-color);
    }
}
